@font-face {
  font-family: yofont;
  src: url("/ULBapp/img/iconfont/iconfont.woff") format("woff"), url("/ULBapp/img/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/ULBapp/img/iconfont/iconfont-menu.woff") format("woff"), url("/ULBapp/img/iconfont/iconfont-menu.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/ULBapp/img/iconfont/iconfont-jiao.woff") format("woff"), url("/ULBapp/img/iconfont/iconfont-jiao.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/ULBapp/img/iconfont/iconfont-center.woff") format("woff"), url("/ULBapp/img/iconfont/iconfont-center.ttf") format("truetype");
}